# User configuration file for Dynamic-Wall

# Current theme, the name of the folder your image files are in. Currently support "NewOrleans","mojave_dynamic_", and "EarthView"
cur_theme="mojave_dynamic_"

# Time offset used in script
timeoffset=0

# Adjust refresh timer
refreshrate="30m"

# Current user, change if command returns incorrect user
usrnm=$(grep -i ':x:1000:' -A 0 /etc/passwd | sed 's/:x:1000:.*//')

# Path to themes folder
theme_dir="/home/$usrnm/bin/dynamic-wall/themes"

# Path to ksetwallpaper script
kset_dir="/home/$usrnm/bin/dynamic-wall/ksetwallpaper"

# Don't touch
olddate=12
